* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
  font-size: 4vw;
  color: white;
  background-color: #05668d;
  padding: 5vw;
}

h2 {
  padding: 25px 50px;
}

div {
  padding: 0 100px 50px;
}

#about {
  color: white;
  background-color: #05668d;
}

#about-container {
  color: white;
  background-color: #05668d;
  display: flex;
}

#profile-pic {
  width: 30vw;
  padding: 25px;
}

#skills {
  color: white;
  background-color: #028090;
}

#skills-container {
  color: white;
  background-color: #028090;
}

#skills-container > img {
  max-width: 150px;
  max-height: 150px;
}

#projects {
  color: white;
  background-color: #00a896;
}

#projects-container {
  color: white;
  background-color: #00a896;
}

#contacts {
  color: white;
  background-color: #02c39a;
}

#contacts-container {
  color: white;
  background-color: #02c39a;
}

#contacts-container > img {
  max-width: 150px;
  max-height: 150px;
}

footer {
  background-color: #f0f3bd;
}
